h1 {
  font-size: 300%;
}

h2 {
  font-size: 200%;
}

.App {
  text-align: center;
  font-size: 1.6rem;
}

header {
  min-height: 40vmin;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tournament-container {
  max-width: 100%;
  overflow-x: auto;
}
